# Virtual Environment
venv/
.venv

# Node.js
node_modules/
dist/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Large data files (we don't upload the raw data)
data/

# User-generated feedback files
backend/model/feedback.csv
backend-node/model/feedback.csv

# IDE
.vscode/
.idea/